/*

Tooplate 2117 Infinite Loop

https://www.tooplate.com/view/2117-infinite-loop

*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --main: #3D5C8B;
  --secondary: #E4C377;
  --tertiary: #FAF6EA;
}

body {
  font-family: "Rubik";
  font-weight: 100;
  font-size: 1.2em;
  color: #707070;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


button {
  outline: none !important;
  background: none;
  text-decoration: none;
  border: none;
}

a {
  transition: all 0.3s ease;
  color: #1c1c1c;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #ced4da;
}

blockquote {
  font-size: 0.86em;
  line-height: 1.8em;
}

.tm-section-pad-top {
  padding-top: 80px;
  padding-bottom: 40px;
}


.tm-content-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tm-text-primary {
  color: #1c1c1c;
text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.tm-font-big {
  font-size: 1.25rem;

}

.tm-btn-primary {
  color: white;
  background-color: #1c1c1c;
  padding: 14px 30px;
  
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: #1c1c1c;
}

/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.home__logo {
  cursor:default;
  padding: 8px 0 8px 3vw;
  display: flex;

}


.button__logo {
  cursor:pointer;
  transition: all 0.3s ease;
}

.button__logo:hover {
  transform: scale(1.1);
}
.separator {
  height: 9px;
align-self: center;
}

.home__logo-sase {
  height: 4.5vw;
  min-height: 40px;
}

.home__logo-erau {
  border-radius: 20;
  height: 4.5vw;
  min-height: 40px;
}

.tm-navbar.scroll {
  background-color: rgba(0, 0, 0, 0.345);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #1c1c1c;
  background-color: white;
}

.tm-navbar.scroll .navbar-brand {
  color: #1c1c1c;
  background-color: white;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: white;
}

.tm-navbar.scroll .tm-nav-link {
  color: white;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #1c1c1c;
  background-color: white;
}

.navbar-toggler {
  border: none;
  background: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  color: white;
  padding-top: 4.5px;

  transition: transform 0.5s ease;
}

.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  color: #1c1c1c;
  transform: rotateZ(90deg);
}

.tm-navbar.scroll .navbar-toggler {
  background-color: transparent;
}

.tm-navbar.scroll .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  color: #1c1c1c;
  transition: 0.5s ease;
}

/* Hero */

#home {
  background-color: #222;
  background-image: url(/sase-bkg.png);
  background-repeat: no-repeat;
  height: 100vh;
background-size: cover;
  min-height: 1000px;
  position: relative;
}


.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-hero-text-container img {
  width: 70vw;
  max-width: 800px;
  margin: 0 0 20px 0;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));

}

.tm-hero-text-container h2 {
  font-size: min(40px, 2.5vw);
  font-weight: 100;
  font-style: italic;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-hero-text-container-button form {
  display: inline;
  text-decoration: none;
}

.tm-hero-text-container-button button {
  width: 200px;
  min-width: 180px;
  min-height: 50px;
  padding: 15px 20px;
  text-align: center;
  margin: 20px 2vw;
  border-radius: 4vw;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  color: var(--secondary);
  overflow: hidden;
  font-size: 20px;

  background: var(--main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all 0.5s ease;
}



.tm-hero-text-container-button #button1:hover, #button2:hover {
  transform: translateY(-5px);
  background-color: var(--secondary);
  background-image: none;
  color: var(--main);
}

/* Introduction */

#introduction {
  padding-bottom: 100px;


}

.tm-section-title {
  font-size: 2.6rem;
  font-weight: normal;
}

.tm-intro-text {
  font-size: 1.2rem;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .tm-icon {
    padding-top: 20px;
  }

  .tm-text-primary {
    text-align: center;
  }

  .tm-intro-text {
    font-size: 1.2rem;

    margin-left: 0px;
    margin-right: 15px;
  }

  .tm-content-box {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.tm-icon {
  display: block;
  color: #1c1c1c;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.tm-continue {
  padding: 20px 0 40px 0;
}

/* leadership */
#leadership {
  color: white;
  background-color: var(--gradient-base);
  background-image: url(/gradient-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 991px) {
  #leadership {
    background-image: var(--gradient-2);
  }
}

.tm-leadership-content {
  position: relative;
  z-index: 100;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.tm-bg-overlay {
  width: 100%;
  height: 100%;
  background: rgba(20, 70, 80, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.tm-leadership-carousel {
  max-width: 1050px;
  margin: 0 auto;
}

.tm-leadership-item {
  max-width: 290px;
  margin-left: 35px;
  margin-right: 35px;

  align-items: center;
}

.tm-leadership-item img {
  border-radius: 50%;
  margin: 15px 0;
}

.tm-leadership-item {
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

.tm-leadership-item img {
  height: 70%;
  width: 70%;
}

.tm-leadership-item:hover {
  transform: scale(1.1);
}

/* Gallery */

.tm-section-desc {
  max-width: 800px;
  width: 100%;
  font-size: 1.2rem;
}

.tm-gallery-container {
  padding-top: 70px;
  padding-bottom: 120px;
}

.tm-gallery-item {
  margin: 0 0px;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li {
  margin: 0 13px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1c1c1c;
}

.tm-leadership-carousel .slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.tm-leadership-carousel .slick-dots li button:hover:before,
.tm-leadership-carousel .slick-dots li button:focus:before,
.tm-leadership-carousel .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 18px;
}

/* Hover Effect */
/* Common style */

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: var(--gradient-1);
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  min-width: 150%;

  left: 50%;
  transform: translateX(-50%);

  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-size: 0.9em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 600;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: #1c1c1c;
  max-width: 220px;
}

figure.effect-honey img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.4;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #1c1c1c;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-container-gallery {
  padding-top: 30px;
}

/* Contact */

#contact {
  color: white;
  background-image: url(/gradient-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.contact-overlay {
  width: 100%;
  height: 100%;
  background: rgba(20, 70, 80, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.item-link {
  margin: 0 3vw;
}

.item-link i,
.item-link span {
  color: white;
  transition: all 0.3s ease;
}

#odd:hover i,
#odd:hover span {
  color: var(--main);
}

#even:hover i,
#even:hover span {
  color: var(--secondary);
}

.tm-footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer a {
  color: #fff;
}

.tm-footer a:hover {
  color: #1c1c1c;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #1c1c1c;
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 1000px) {
  .tm-intro-text-container {
    padding-left: 0px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: transparent;
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: white;

    padding-right: 20px;
  }

  .navbar-collapse .nav-link:hover {
    color: #1c1c1c;

    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-gallery-container-2 {
    max-width: 350px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }
}
